* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* *** Nav Bar *** */
.cucumber-image {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 40px;
    height: auto;
}

.cucumber-image:hover {
    opacity: 90%;
}

.nav-bar {
    padding-top: 10px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 4px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 12px;
    size: 10px;
}

.nav-list li a {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: #202023;
    border-radius: 30px;
    border: 2px solid #FFF;
    border-color: rgb(154, 40, 59);
}

.nav-list a:hover {
    background-color: #333539;
    opacity: 88%;
    border-radius: 30px;
    border: 2px solid #fff;
    border-color: rgb(138, 40, 59);
    outline: none;
    cursor: pointer;
}

.nav-bar a:visited {
    color: #FFF;
}

/* Format all body text */
body {
    background-color: rgb(17, 14, 14);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.body-text {
    color: #FFF;
}

.clubs-title {
    font-size: 35px;
    color: white;
    padding-top: 240px;
    padding-bottom: 150px;
    color: #fff;
    text-shadow: 1px 2px 4px gray;
    text-align: center;
}

.clubs-header {
    font-size: 35px;
    padding-top: 200px;
    color: white;
    color: #fff;
    padding-left: 40px;
    font-weight: bold;
}

.clubs-body {
    padding-top: 35px;
    padding-left: 40px;
    font-size: 25px;
    padding-right: 80px;
    color: #417598;
}

.clubs-container {
    display: flex;
}

.clubs-img {
    width: 450px;
    border-radius: 8px;
    height: auto;
    margin-right: 50px;
}

.archive-button {
    margin-left: 75px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: rgb(154, 40, 59);
    transform: scale(1.5);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #fff;
    border-color: #417598;
    font-weight: bold;
    color: #FFF;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.archive-button:hover {
    background-color: rgb(138, 40, 59);
    opacity: 88%;
}